:root{
  --color-primary: #000000;
  --color-primary-medium: #1A1A1A;
  --color-primary-light: #2F2F2F;
  --color-text-white: #ffffff;
  --color-button: #787A7A;
}
body{
  font-family: "Bricolage Grotesque", sans-serif;
  font-style: normal;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  max-width: 1250px;
  margin: auto;
}

.app-container{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* gap: 200px; */
  padding-top: 20px;
}
h4,h2,p {
  margin: 0; 
  padding: 0; 
}

.logo{
  margin-bottom: 32px;
}

/* ----- Left Sidebar ----- */
.left-sidebar{
  font-size: 20px;
  text-align: center;
  border-right: 1px solid var(--color-primary-light);
  padding-right: 80px;
  min-height: 100vh;
}
.left-sidebar-item{
  border-radius: 14px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 30px;
  margin-top: 10px;
}
.left-sidebar-item:hover{
  cursor: pointer;
  background-color: var(--color-primary-medium);

}
.left-sidebar-item.active{
  font-weight: bold;
  background-color: var(--color-primary-light);
}

/* ------ Profile Picture -------- */
.profile-picture{
  width: 40px;  /* Sesuaikan ukuran */
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------ Main ------- */
.main{
    border-right: 1px solid var(--color-primary-light);
    width: 650px;
    min-height: 100vh;
}

.main-nav{
  justify-content: center; 
  display: flex;
  padding: 10px 0;
  gap: 20%;
  font-size: 20px;
}
.main-nav:hover{
  cursor: pointer;
}

.form-post{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  
  border-bottom: 1px solid var(--color-primary-light);
  padding-bottom: 15px;
  padding-left: 20px;
}
.input-container{
  display: flex;
  gap: 10px;
}
.input-container input{
  font-size: 18px;
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text-white);
  width: 80%;
}
.input-container input:focus{
  outline: none;
  border-bottom: 1px solid var(--color-primary-light);
}
.form-post button {
  align-self: end;
  color: var(--color-primary);
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 600;
  background-color: var(--color-button);
}
.form-post button:hover{
  cursor: pointer;
}


.post-list{
  padding: 18px 20px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--color-primary-light);
}
.post-list .user-info p {
  color: var(--color-button);
}
.post-list .user-info{
  display: flex;
  gap: 5px;
}
.post-list .post-details{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
